/* styles.css or your CSS file */
.fixed-label {
    width: 140px; /* Fixed width */
    height: 15px; /* Fixed height */
    overflow: hidden; /* Hide overflowing content */
    text-overflow: ellipsis; /* Add ellipsis to indicate truncated text */
    white-space: normal;
    display: flex;
    align-items: center;

    justify-content: center;
    background: #34c9eb;
    padding: 10px;
    border-radius: 5px;
    font-size: 8px;
    font-weight: 100;
}
